<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceBusConnectionString" value="Endpoint=sb://deviron.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[F2/d/E5KTP6mnyKV2imbbb6AJT9jCDj0bWcFooTUgm08GwmNMb9l8ORRGegE+67ZHAF6w6o0dvf4vE+CorruuA==]" />
    <add key="demotopic" value="Endpoint=sb://demo59sbn.servicebus.windows.net/;SharedAccessKeyName=topic59policy;SharedAccessKey=QlAub/N/0stY3FzTI9i1m+7z30RFBFZDoRN9ei03RhY=;EntityPath=topic59" />
    <!-- Do NOT change these values for local debugging. Make local changes by modifying your Machine.config file. -->
  </appSettings>
</configuration>